:root {
    --themecolor: #ffa700;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background: url(Images/bg.png) repeat-y center center;
    /* background-size: cover; */
}

.title {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    left: 60px;
    font-size: 1.4rem;
    bottom: 93%;
    padding: 0px;
    margin: 0px;
    height: 60px;
    width: 200px;
    color: var(--themecolor);
    /* border:1px solid black; */
    position: fixed;
    z-index: 200;
    letter-spacing: -3px;
}

.logo {
    width: 4.5rem;
    height: 5rem;
    padding: 0px;
    margin-top: -8px;
    position: fixed;
    top: 0px;
    z-index: 100;
    filter: invert(100%);
}

.box a:hover {
    color: #c48002;
}

.box {
    width: 50%;
    top: 30px;
    left: 20%;
    /* border:1px solid black;  */
    padding: 0px;
    margin: 0px;
    position: fixed;
    z-index: 100;
}

.box li {
    display: inline;
    position: relative;
    left: 4%;
    text-align: center;
}

.box a {
    text-decoration: none;
    padding: 2%;
    font-size: 23px;
    color: var(--themecolor);
}

.top-bar::before {
    content: "";
    /* border:1px solid black; */
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
    backdrop-filter: blur(5px);
}

.cart {
    width: 60px;
    height: 70px;
    padding: 0px;
    position: fixed;
    top: 7px;
    left: 1170px;
    z-index: 200;
}

.premium {
    text-decoration: none;
    position: fixed;
    left: 92%;
    color: white;
    background-color: black;
    border: 0.2px solid white;
    z-index: 200;
    padding: 5px;
    top: 28px;
}

.item3 {
    /* border: 1px solid black; */
    margin: 2px;
    position: relative;
    top: 100px;
    box-sizing: border-box;
    height: 82%;
    z-index: 10;
    left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item3::before {
    content: "";
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    /* background-color: black; */
    background-image: url(Images/sprinkle.jpg);
    position: absolute;
    z-index: -5;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 10px 10px 10px black;
}

.box3-heading {
    color: white;
    position: absolute;
    left: 630px;
    top: -15px;
    font-size: 22px;
    border-radius: 30px;

}

.gold {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 10px;
    border: 30px;
    z-index: -2;
}

.gold-content {
    color: white;
    position: absolute;
    top: 30%;
    font-size: 20px;
}

.member {
    background-color: rgb(212, 175, 55);
    padding: 2px 15px;
    font-weight: bold;
    border-radius: 20px;
    height: 10%;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 85%;
}

.info {
    z-index: 10;
    color: white;
    position: absolute;
    top: 20%;
    right: 70%;
    font-size: 23px;
}

input {
    background-color: black;
    border: 1px solid white;
    position: relative;
    left: 20px;
    border-radius: 20px;
    height: 15%;
}

input:focus {
    color: white;
}

.input-fields {
    color: white;
    list-style: none;
    line-height: 45px;
}

input[type='text'] {
    position: relative;
    left: 19px;
}

input[type='email'] {
    position: relative;
    left: 7px;
    color:white;
}

input[type='tel'] {
    position: relative;
    left: 10px;
    color: white;
}

.membership-box {
    z-index: 5;
    display: grid;
    position: relative;
    grid-template-columns: auto auto auto;
    top: 18%;
    height: 60%;
    width: 57%;
    left: 10%;
    column-gap: 20px;
}

.membership-box div {
    border: 1px solid var(--themecolor);
    background-color: var(--themecolor);
    border-radius: 10px;
}

.join {
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    position: relative;
    left: 70px;
    top: 20px;
}

.join:hover {
    font-size: 16px;
    transition: all 0.4s ease;
}

.first button {
    position: relative;
    top: 55px;
}

::-webkit-scrollbar {
    display: none;
}

#member_head {
    color: var(--themecolor);
    position: relative;
    top: 25%;
    left: 60px;
    font-size: 36px;
    text-align: center;
    padding: 10px;
}